# Build output
dist/

# Development
.idea/
node_modules/

# Testing
coverage/
test-report.junit.xml

# Local website mocks
example/
mock-website/

# Release
*.zip

# Miscellaneous
.DS_Store
USER_GUIDE.pdf
